.App {
    display: flex;
    margin-top: 100px;
    height: 80vh;
}

.nonvisible {
    display: none;
}

.task-done {
    color: gray;
    text-decoration: line-through;
}

.date-red {
    color: red;
}

#tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    margin-left: 10px;
}

#todolist-sidebar, .task{
    border: 1px solid black;
    border-radius: 10px 15px;
    padding: 10px 10px;
}


/* Task styles */

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.task-status {
    display: flex;
    justify-content: space-between;
}

/* Sidebar styles */

#todolist-sidebar {
    flex-basis: 50%;
    padding: 25px;
}


/* Tasks add form styles */

#add-task-form {
    display: flex;
    background-color: darkgreen;
}