.App {
    display: flex;
    margin-top: 100px;
    height: 50vh;
}

#todolist-sidebar {
    flex-basis: 50%;
    background-color: gray;
    padding: 25px;
}

#tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    background-color: black;
    padding: 25px;
}

#add-task-form {
    display: flex;
    background-color: darkgreen;
}

.task {
    color: white;
}

